In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [4]:
df1 = DataFrame({'key':['b','b','a','c','a','a','b'],
                  'data1' : range(7)})
df2 = DataFrame({'key':['a','b','d'],
                  'data2' : range(3)})
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2

In [5]:
#merging two datasets without specifying which column to join
print(pd.merge(df1, df2))
df3 = pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [23]:
#merging two datasets with spcifying which column to join
print(pd.merge(df1, df2, on='key'))

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [6]:
df3 = DataFrame({'lkey':['b','b','a','c','a','a','b'],
                  'data1' : range(7)})
df4 = DataFrame({'rkey':['a','b','d'],
                  'data2' : range(3)})

In [8]:
#merging two datasets with same values of two coloumns
#It is called as inner join
print(pd.merge(df3, df4, left_on='data1', right_on='data2'))

  lkey  data1 rkey  data2
0    b      0    a      0
1    b      1    b      1
2    a      2    d      2

In [11]:
#outer join
print(df1)
print(df2)
print(pd.merge(df1, df2, how='outer'))

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2
  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [13]:
df5 = DataFrame({'key':['b','b','a','c','a','b'],
                  'data1' : range(6)})
df6 = DataFrame({'key':['a','b','a', 'b', 'd'],
                  'data2' : range(5)})

In [19]:
#lef join (many-to-many)
print(pd.merge(df5, df6, on='key', how='outer'))

   key  data1  data2
0    b    0.0    1.0
1    b    0.0    3.0
2    b    1.0    1.0
3    b    1.0    3.0
4    b    5.0    1.0
5    b    5.0    3.0
6    a    2.0    0.0
7    a    2.0    2.0
8    a    4.0    0.0
9    a    4.0    2.0
10   c    3.0    NaN
11   d    NaN    4.0

In [22]:
df7 = DataFrame({'key1':['foo', 'foo', 'bar'],
                 'key2':['one', 'two', 'one'],
                 'lval': [1,2,3]})
df8 = DataFrame({'key1':['foo', 'foo', 'bar', 'bar'],
                 'key2':['one', 'one', 'two', 'two'],
                 'rval': [4,5,6,7]})

In [25]:
#merge with multiple keys
print(pd.merge(df7, df8, on=['key1', 'key2']))
print()
print(pd.merge(df7, df8, on=['key1', 'key2'], how='outer'))

  key1 key2  lval  rval
0  foo  one     1     4
1  foo  one     1     5

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   NaN
4  bar  two   NaN   6.0
5  bar  two   NaN   7.0

In [30]:
#Merging on Index
left1 = DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
                            'value': range(6)})
right1 = DataFrame({'group_val': [3.5, 7]}, 
                   index=['a', 'b'])

In [31]:
#You can pass left_index=True or right_index=True (or both) to indicate that the
#index should be used as the merge key
print(pd.merge(left1, right1, left_on='key', right_index=True))

  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

In [38]:
#Hierarchically-indexed data
lefth = DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
                   'key2': [2000, 2001, 2002, 2001, 2002],
                   'data': np.arange(5.)})
righth = DataFrame(np.arange(12).reshape((6, 2)),
                   index=[['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'],
                          [2001, 2000, 2000, 2000, 2001, 2002]],
                   columns=['event1', 'event2'])
print("Lefth dataset: \n", lefth)
print()
print("Righth dataset: \n",righth)

Lefth dataset:
      key1  key2  data
0    Ohio  2000   0.0
1    Ohio  2001   1.0
2    Ohio  2002   2.0
3  Nevada  2001   3.0
4  Nevada  2002   4.0

Righth dataset:
              event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11

In [32]:
data = DataFrame(np.arange(6).reshape(2,3),
                index = pd.Index(['Ohio', 'Colorado'], name='state'),
                columns=pd.Index(['one', 'two', 'three'], name='number') 
                )
data1 = DataFrame(np.arange(6).reshape(2,3),
                index = pd.Index(['Ohio', 'Colorado']),
                columns=pd.Index(['one', 'two', 'three']) 
                )

print(data)
print(data1)
print()
print(data1.stack())
print(data1.unstack())

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5
          one  two  three
Ohio        0    1      2
Colorado    3    4      5

Ohio      one      0
          two      1
          three    2
Colorado  one      3
          two      4
          three    5
dtype: int32
one    Ohio        0
       Colorado    3
two    Ohio        1
       Colorado    4
three  Ohio        2
       Colorado    5
dtype: int32

In [40]:
#Merging hierarchically-indexed data
#You have to indicate multiple columns to merge on as a list
print(pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True))

     key1  key2  data  event1  event2
0    Ohio  2000   0.0       4       5
0    Ohio  2000   0.0       6       7
1    Ohio  2001   1.0       8       9
2    Ohio  2002   2.0      10      11
3  Nevada  2001   3.0       0       1