In [1]:
import pandas as pd
import json

In [ ]:
from google.colab import files

In [2]:
print("reading csv file (1st way)")
dn = pd.read_csv("dataset/ex1.csv")
print(type(dn))

reading csv file (1st way)
<class 'pandas.core.frame.DataFrame'>

In [3]:
print(dn)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
print("reading csv file (2nd way)")
df2 = pd.read_table("dataset/ex1.csv", sep=",")
print(df2)

reading csv file (2nd way)
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
print("reading csv file (1st way)")
df1 = pd.read_csv("dataset/ex1.csv")
print(df1, "\n")
print("reading csv file (2nd way)")
df2 = pd.read_table("dataset/ex1.csv", sep=",")
print(df2)

reading csv file (1st way)
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

reading csv file (2nd way)
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
#A file will not always have a header row.
df3 =pd.read_csv("dataset/ex2.csv", header=None)
df3

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
print(df3)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
#reading file without a header row then give the header
df4 = pd.read_csv("dataset/ex2.csv", names=['a', 'b', 'c', 'd', 'message'])
print(df4)

print(df4[["b","c","message"]], "\n")

print(df4[0:1]["a"])
df4[0:1]["a"] = 13
print(df4[0:1]["a"])
print()
print(df4[0:2][["a", "b"]])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
    b   c message
0   2   3   hello
1   6   7   world
2  10  11     foo

0    1
Name: a, dtype: int64
0    13
Name: a, dtype: int64

    a  b
0  13  2
1   5  6

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
df4.loc[1,"a"] = 13

In [10]:
print(df4)

    a   b   c   d message
0  13   2   3   4   hello
1  13   6   7   8   world
2   9  10  11  12     foo

In [11]:
#reading file without a header row then give the header name and index name
colNames = ['a', 'b', 'c', 'd', 'message']
pd.read_csv("dataset/ex2.csv", names=colNames, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [13]:
#Consider this txt file
list(open("dataset\ex3.txt"))

['1\t2\t3\t4\thello\n', '5\t6\t7\t8\tworld\n', '9\t10\t11\t12\tfoo']

In [15]:
#In some cases, a table might not have a fixed delimiter, using whitespace or some other
#pattern to separate fields. In these cases, you can pass a regular expression as a delimiter
#for read_table.

result=pd.read_table("dataset\ex3.txt", sep='\s+', header=None)
result

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
#Renaming Columns
result.columns = ['A','B','C','D','message']
result

   A   B   C   D message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
#Reading csv file by skipping unused rows
skipped_row = pd.read_csv("dataset\ex1.csv", skiprows=[0,2], header=None)
skipped_row

   0   1   2   3      4
0  1   2   3   4  hello
1  9  10  11  12    foo

In [21]:
#Writing Data Out to Text Format
skipped_row.to_csv("dataset/skipped_row.csv")
df1.to_csv("dataset/df1.csv")

In [22]:
#Reading JSON data
import json

In [23]:
with open("dataset/obj.json") as json_file:
    json_data = json.load(json_file)
print(json_data)
#print(json_file)

{'name': 'Wes', 'places_lived': ['United States', 'Spain', 'Germany'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'}, {'name': 'Katie', 'age': 33, 'pet': 'Cisco'}]}

In [24]:
data = {}
data['people'] = []  
data['people'].append({  
    'name': 'Scott',
    'website': 'stackabuse.com',
    'from': 'Nebraska'
})
data['people'].append({  
    'name': 'Larry',
    'website': 'google.com',
    'from': 'Michigan'
})
data['people'].append({  
    'name': 'Tim',
    'website': 'apple.com',
    'from': 'Alabama'
})

with open('data2.json', 'w') as outfile:  
    json.dump(data, outfile)

In [47]:
with open('data.json') as json_file:
    print(json.load(json_file), indent=4)

{
    "people": [
        {
            "name": "Scott",
            "website": "stackabuse.com",
            "from": "Nebraska"
        },
        {
            "name": "Larry",
            "website": "google.com",
            "from": "Michigan"
        },
        {
            "name": "Tim",
            "website": "apple.com",
            "from": "Alabama"
        }
    ]
}

In [25]:
data = {'people':[{'name': 'Scott', 'website': 'stackabuse.com', 'from': 'Nebraska'}]}
print(json.dumps(data, indent=4))

{
    "people": [
        {
            "name": "Scott",
            "website": "stackabuse.com",
            "from": "Nebraska"
        }
    ]
}